/* background: #000000 */
/* foreground: #808080 */
/* foreground-contrast: #404040 */

.side-panel {
    background-color: #808080;
    corner-radius: 5%;
    child-space: 10px;
    space: 10px;
}
.menu-element {
    child-space: 1%;
    min-height: auto;
    width: 1s;
}
.center-panel {
    background-color: #808080;
    corner-radius: 1%;
    child-space: 0.01s;
}
.cell {
    space: 0.03s;
    size: 1s;
    corner-radius: 5%;
    border-width: 5px;
}
.material-display {
    size: 128px;
    space: 1s;
    min_space: 128px;
    border-width: 5px;
}
.material-row {
    space: 15px;
    height: auto;
    min-width: auto;
    width: 1s;
}

.background {
    child-space: 1%;
    background-color: #000;
}
.button {
    width: 1s;
    child-space: 1s;
    space: 0.1s;
}
.editor-panel {
    background-color: #808080;
    child-space: 15px;
    space: 5px;
    corner-radius: 15px;
}
.base-editor {
    left: 1s;
    right: 1s;
    height: Auto;
    background-color: #404040;
    child-space: 15px;
    row-between: 5px;
    corner-radius: 15px;
}
.condition-editor {
    child_top: 1s;
    child_bottom: 1s;
    child-left: 15px;
    child-right: 15px;
    min-height: Auto;
    background-color: #808080;
    corner-radius: 15px;
}
.condition-container {
    height: Auto;
    child-space: 10px;
    row-between: 15px;
    background-color: #606060;
    corner-radius: 15px;
}
.button {
    background-color: #808080;
    border-color: #000000;
    border-width: 2px;
}

label {
    font-size: large;
}